@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.features {
  height: 100vh;
  padding: 6em;
  position: relative;
  @include flexCentered;
  &__heading {
    color: $color-heading;
    font-size: $fontSize-h2;
    letter-spacing: 2px;
  }

  &__texts {
    width: 50%;
  }
  &__text-heading {
    color: $color-heading;
    letter-spacing: 1.2px;
  }

  &__text-text {
    color: $color-para;
    // border: $borderTest;
    font-size: 1.4rem;
  }

  &__texts-card {
    @include flexCentered;
    align-items: start;
    // border: $borderTest;
    margin: 1.5em;
  }

  &__text-icon {
    // border: $borderTest;
    width: 4em;
    height: 4em;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
    background-color: #0663c0;

    #more {
      height: 1.8em;

      //   width: 2em;
    }
  }

  .Emanager_font {
    color: #dcdcdc;
    font-family: 'Parisienne', cursive;
    font-size: 1.8em;
  }

  &__text-container {
    padding: 0.2em 0 1em 1em;
    line-height: 1.8em;
    font-size: 1.2rem;
    letter-spacing: 0.7px;
    width: 80%;
    text-align: start;
  }

  &__text-heading {
    margin-bottom: 1em;
  }

  &__more_bold-text {
    font-weight: bold;
  }
  &__decoration {
    // border: $borderTest;
    padding: 4em 1em 0 1em;
    width: 50%;
    height: 100%;
    position: static;
    z-index: 20;
    @include flexCentered;
    &__image-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2em;
      width: 35%;
      position: absolute;
      z-index: 30;
      right: 15%;
    }
    &-image {
      width: 25em;
      margin: 1em 0;
    }
    #splitCard {
      width: 25em;
    }

    &-gradient {
      width: 70%;
      height: 100%;
      background: linear-gradient(
        295.61deg,
        rgb(142, 72, 155),
        rgba(16, 60, 120),
        rgba(0, 166, 176, 0.94)
      );
      border-radius: 0.8em;
      position: relative;
      right: -11%;
    }
  }

  &__background__circle {
    background: linear-gradient(
      100deg,
      rgba(113, 2, 133, 0.61),
      rgba(13, 78, 168, 0.81),
      rgba(0, 166, 175, 0.87)
    );
    width: 40em;
    height: 40em;
    border-radius: 50%;
    @include flexCentered;
    position: absolute;
    right: -15em;
    top: 275%;
    z-index: 10;
    &-background {
      background: linear-gradient(#050d21, #050d21, #050d21);
      width: 98%;
      height: 98%;
      border-radius: 50%;
    }
  }
}
