@mixin flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin borderTest {
  border: 1px solid black;
}

$color-heading: #fefefb;
$color-para: #ececec;
$borderTest: 1px solid khaki;

$fontSize-h2: 2rem;
$fontSize-L: 3rem;
$fontSize-mL: 2.5rem;
$fontSize-Lm: 2.4rem;
$fontSize-m: 2rem;
$fontSize-Sm: 1.6rem;
