@import 'helper';
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

.header {
  // @include borderTest;
  @include flexCentered;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  font-family: 'Reem Kufi', sans-serif;
  padding: 1em;
  &__logo {
    // @include borderTest;
    width: 100px;
    margin-left: 2%;
  }

  ul > li > a {
    color: rgb(233, 232, 232);
    font-weight: 500;
    @include transition-ease;
    &:hover {
      color: rgb(252, 127, 185);
      font-size: $fontSize-Sm;
    }
  }

  &__menu-container {
    // @include borderTest;
    width: 60%;
    height: 5em;
    @include flexCentered;
    @media screen and (max-width: 783px) {
      transform: translateX(-25%);
    }
    @media screen and (max-width: 680px) {
      width: 100vw;
      transform: translateX(0);
      position: absolute;
      left: 0;
    }
  }
  &__menu__li-container {
    @include flexCentered;
    font-size: 1.4em;
    @include transition-ease;
    @media screen and (max-width: 680px) {
      display: none;
    }
  }

  &__menu {
    // @include borderTest;
    padding: 1em;
    // margin: 0 1em;
    @include transition-ease;
  }

  #navBtn__sign-in {
    margin-right: 3em;

    @media screen and (max-width: 830px) {
      margin-right: 1em;
      width: 9em;
    }
    @media screen and (max-width: 783px) {
      display: none;
    }
  }

  &__menubars-container {
    width: 4em;
    height: 5em;
    padding: 3em;
    display: none;
    // border: $borderTest;
    @include transition-ease;
    &:hover {
      border: 1px solid slateblue;
      border-radius: 20%;
      background: rgba(224, 224, 224, 0.192);
    }
    @include transition-ease;

    @media screen and (max-width: 680px) {
      display: inline-grid;
      position: absolute;
      // justify-content: end;
      right: 4%;
      height: 5vh;
      top: 0;
      padding: 0.5em;
      justify-content: center;
      align-items: center;
    }
  }

  &__menubars {
    &_top,
    &_middle,
    &_bottom {
      width: 3em;
      height: 0.4em;
      background: rgb(226, 226, 226);
      // display: inline-block;
      border-radius: 0.3em;
      @include transition-ease;
    }
  }

  @media screen and (max-width: 380px) {
    padding: 1em 1em 0 0;
  }

  &.open {
    div.header__menubars_top {
      transform: rotate(45deg);
      position: relative;
      top: 16px;
      margin-bottom: 1em;
    }
    div.header__menubars_middle {
      display: none;
    }
    div.header__menubars_bottom {
      transform: rotate(-45deg);
      margin-bottom: 1em;
    }

    ul.header__menu__li-container {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 10;
      background: #050b18;
      height: 60vh;
      padding: 5em 0 0 0;
      li {
        background: #050b18;
        width: 100%;
        font-size: 1.8rem;
        padding: 1.2em 0;

        &:hover {
          background: linear-gradient(166deg, #005c75, rgb(1, 60, 122));
          // transform: scale(1.1);
          box-shadow: 0px 1px 8px 1px rgba(239, 239, 239, 0.308);
        }
      }
    }
    .header__menubars-container {
      margin-bottom: 1em;
      border-radius: 50%;

      &:hover {
        border: none;
        border-radius: 0;
        background-color: transparent;
      }

      z-index: 20;
    }

    .header__menu-container {
      top: 0;
    }
  }
}
