//hero_image
.hero{

	&__content__image{
		transform: perspective(1100px) rotateX(-50deg);
		transition:0.5s;
	}
}

.flip {
	transform: perspective(1100px) rotateX(0deg);
}

//circles

.rollToTheRight{
    transform: translate(10%) translateY(26em);
    opacity: 0.7 !important;
}



.slopeToTheRight{

    transform: translate(30vw) translateY(30%);
    opacity: 0.7 !important;

}


.slideDownLeft {
    top: 380vh !important;
    right: -15em !important;
    opacity: 1 ;
}

//section3

.features {
    opacity: 0.1;
    transition: 1s;
}

.brighter {
    opacity:1
}

.features__text-card{
    transform: translate(-90%);
    opacity: 0;
    transition: 1s ease-in 0.1s;
}

.cardsSlideIn{
    transform: translate(0%);
    opacity: 1;
}



//section 4

.pricing__card:first-child {
    opacity: 0;
    transform: translate(-100%);
}

.pricing__card:nth-child(2) {
    opacity: 0;
    transform: translateY(100%);
}

.pricing__card:last-child {
    opacity: 0;
    transform: translate(100%);
}


.firstCardSLideIn {
    transform: translate(0%) !important;
    opacity: 1 !important;
}

.slideUp {
    transform: translateY(0%) !important;
    opacity: 1 !important;
}
.thirdCardSlideIn {
    transform: translate(0%) !important;
    opacity: 1 !important;
}



