@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	@media screen and (max-width: 675px) {
		.hero__header,
		.big__corp.header,
		.pricing__header,
		.bottom__newsletter-header {
			font-size: $fontSize-h1 - 1rem;
		}

		h2 {
			font-size: $fontSize-h2 - 1rem;
		}
	}
}

body {
	font-family: 'Red Hat Text', sans-serif;
	text-align: center;
	overflow-x: hidden;
	background-color: $primary;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

button {
	padding: 0.8em;
	width: 11em;
	font-weight: 500;
	color: ivory;
	background: none;
	border-radius: 5px;
	font-family: 'Reem Kufi', sans-serif;
	cursor: pointer;
  transition: all 0.1s  ease-in-out ;
	border: 2px solid #99a7b5;

  &:hover {
		border: 2px solid #092c4c;
		background-color: #012548;
	}
}



button.hero__btn-vdo {
	letter-spacing: 0.8px;
	color: #ecf5ff;
	background-color: #e9e9e938;
	&:hover {
		background-color: #026cd7;
    border: 2px solid #8292a1;
	}
}

.content_container {
	background-color: $primary;
}
