.big__corp {
  height: 100vh;
  width: 100%;
  @include flexCentered;
  flex-direction: column;
  margin: 12em 0 0 0;

  
  &__content {
 
    height: 60vh;
    position: relative;
    z-index: 20;
 
  }
  &-header {
    color: $color-heading;
    letter-spacing: 1.7px;
    font-size: 3rem;
    margin-bottom: 2em;
    margin-top: 10%;
  }

  &__logo-container {
    @include flexCentered;

    #google {
      color: #aeaeae;
      font-family: 'Poiret One', cursive;
      font-size: 3rem;
      font-weight: bolder;
      @media screen and (max-width: 550px) {
        font-size: 2rem;
      }
    }

    & .logos {
      width: 16%;
      padding: 0 1em;
    }

    #amazon {
      padding-top: 0.8em;
    }

   
  }
  .background__circle-right {
    background: linear-gradient(
      180deg,
      rgba(76, 4, 88, 0.61) 17.65%,
      rgba(16, 60, 120, 0.81) 50.67%,
      rgba(0, 166, 175, 0.87) 88.13%
    );
    width: 50em;
    height: 50em;
    border-radius: 50%;
    position: absolute;
    right: 15%;
    top: 8%;
    text-align: center;
    transition: 3s;
    opacity: 0;
    @include flexCentered;
    &-background {
      background: linear-gradient(
        rgba(5, 13, 33, 0),
        rgba(5, 13, 33),
        rgb(5, 13, 33)
      );
      width: 98%;
      height: 98%;
      border-radius: 50%;
    }

    @media screen and (max-width: 800px) {
      width: 35em;
      height: 35em;
      top: 8%;
    }
    @media screen and (max-width: 520px) {
     
      width: 25em;
      height: 25em;
     
    }
    @media screen and (max-width: 380px) {
      width: 20em;
      height: 20em;
      top: 9%;
    }
  }

  .background__circle-left {
    background: linear-gradient(
      100deg,
      rgba(113, 2, 133, 0.61),
      rgba(13, 78, 168, 0.81),
      rgba(0, 166, 175, 0.87)
    );
    width: 28em;
    height: 28em;
    border-radius: 50%;
    @include flexCentered;
    position: absolute;
    top: 80em;
    left: -15em;
    opacity: 0;
    transition: 3s;
    &-background {
      position: relative;
      background: linear-gradient(
        rgb(5, 13, 33),
        rgb(5, 13, 33),
        rgb(5, 13, 33)
      );
      width: 98%;
      height: 98%;
      border-radius: 50%;
    }

    @media screen and (max-width: 680px) {
     
      width: 22em;
      height: 22em;
      left: -12em;
      
    }

    @media screen and (max-width: 680px) {
     
      width: 20em;
      height: 20em;
      left: -12em;
      
    }
  }


  
  
  @media screen and (max-width: 600px) {
    &__content {
      height: 40vh;
    }
  }




  @media screen and (max-width: 360px) {
    &__content {
      height: 25vh;
    }
    &-header {
      font-size: 2rem;
      margin-top: 0;
    }

    .background__circle-right {
      width: 15em;
      height: 15em;

    }
    .background__circle-left {
      width: 15em;
      height: 15em;

      left: -10em;
    }

    &-header {
      font-size: $fontSize-Sm;
    }

    #google {
      font-size: $fontSize-SS;
    }
  }
}


.background__circle-bottom {
  background: linear-gradient(
   318deg,
   rgba(113, 2, 133, 0.61),
   rgba(13, 78, 168, 0.81),
   rgba(0, 166, 175, 0.87)
  );
  width: 28em;
  height: 28em;
  border-radius: 50%;
  @include flexCentered;
  position: absolute;
  right: -20em;
  top: 170em;
  opacity: 0;
  z-index: 10;
  transition: 4s ease-in-out 1s;
  &__circle {
   position: relative;
   background: linear-gradient(rgb(5, 13, 33), rgb(5, 13, 33), rgb(5, 13, 33));
   width: 98%;
   height: 98%;
   border-radius: 50%;
  }
 }
