$btn-bg: #0569cd;

.pricing {
  position: relative;
  z-index: 20;
  margin-top: 8em;
  @include flexCentered;

 

  &__header {
    color: $color-heading;
    font-size: $fontSize-h1-m;
    margin-bottom: 1em;
  }

 

  table,
  tr,
  td {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
  }
  tr,
  td {

    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
  }

  &__cards {

    @include flexCentered;
  }

  &__card {
    border: 2px solid #464952;
    border-radius: 0.6em;
    padding: 2em;
    width: 100%;
    height: 90vh;
    margin: 3em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    background-color: $primary;
    cursor: pointer;
    &:hover {
      background-color: $btn-bg;

      .container{
        background-color: $btn-bg;
      }
      .pricing__card__btn {
        background-color: rgb(233, 233, 233);
        color: rgb(54, 54, 54);
      }
      .pricing__card__icon-check_container {
        color: rgb(1, 138, 31);
      }
    }

    &-heading {
      color: $color-heading;
      margin-bottom: 1em;
      font-size: $fontSize-mL;
    }

    &__sub-heading {
      color: $color-para;
      font-size: $fontSize-Sm;

      &__price {
        font-weight: bold;
        font-size: $fontSize-Lm;
      }


    }

    & .container {
      padding: 1em;
      width: 100%;
      min-width: 15em;
      color: $color-para;
    }
    &-service {
      color: $color-para;
      padding: 0.8em;
      font-size: $fontSize-Sm;
    }

    &__icon-check {
      font-size: $fontSize-Sm;
      font-weight: bolder;
      text-align: center;
      &_container {
        background: rgb(236, 235, 235);
        border-radius: 50%;
        padding: 0.1em 0.4em;
        color: rgb(39, 39, 39);
        margin-right: 1em;
      }
    }
    
    @media screen and (max-width: 500px) {
      width: 80%;
      height: 70vh;
    }
    
  }



  @media screen and (max-width: 680px) {

    margin-top: 14rem;
    
    &-contents{
      width: 40em;
    }
    
    &__cards {
      flex-direction: column;
    }
  
  }
}
