@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.hero {
	height: 100vh;
	position: relative;
	z-index: 20;
	background: linear-gradient(
		295.61deg,
		rgb(142, 72, 155),
		rgba(16, 60, 120),
		rgba(0, 166, 176, 0.94)
	);


	.hero__content {

		height: 90vh;
		@include flexCentered;
		flex-direction: column;
		width: 100%;

		&-headers {
			@include flexCentered;
			flex-direction: column;

			&__header {
				font-size: $fontSize-h1;
				font-family: 'Poppins', sans-serif;
				letter-spacing: 1px;
				margin-bottom: 0.4em;
				color: $color-heading;
				width: 80vw;
				@media screen and (max-width: 540px) {
					width: 90vw;
				}
			}

			 p.sub-header {
				
				width: 60vw ;
				
				span {
					font-weight: bold;
					color: rgb(221, 233, 243);
				}

				@media screen and (max-width: 500px) {
				
					width: 80vw;
				}
			}
		}

		&__btn-container {
			margin-bottom: 18em;

			button#hero__btn-vdo {
				margin-left: 2em;
			}
		}

		&__image {
			width: 63em;			
			position: absolute;
		
			bottom: -20em;

			@media (max-width:1025px) {
				bottom: -25em;
			}

			@media screen and (max-width: 900px) {
				width: 80%;
			
			}

			@media screen and (max-width: 450px) {
			
				bottom: -10em ;
			}

		}
	}

	@media screen and (max-width: 360px) {
		h1 {
			font-size: $fontSize-Sm;
		}
		&__sub-header {
			font-size: $fontSize-S;
		}
		&__btn-container {
			margin-bottom: 21em;
		}
		.btn__sign-in {
			padding: 0.6em;
			width: 9em;
			font-size: 1.1em;
		}

		.hero__btn-vdo {
			margin-left: 2em;
			font-size: 1.1em;
			width: 10em;
			padding: 0.6em;
		}
	}

	
}
